[Desktop Entry]
Version=2.0
Type=Application
Name=mtoc
GenericName=Music Player
Comment=Visual Music Library
Exec=mtoc_app
Icon=mtoc
Terminal=false
Categories=AudioVideo;Audio;Player;Qt;
Keywords=Music;Player;Audio;Library;
StartupNotify=true